*{
    outline: 0;
    padding: 0;
    margin: 0;
}

.containe-wap{
    width: 100%;
    height: 65vh;
    .containe-br1{
        width: 100%;
        height: 300px;
        background-color: #2ecc71;
    }
}